<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" type="text/css" />
	
	<title>BURGER</title>
</head>

<body>
	{{{ body }}}
</body>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</html>