<section class="section">
    <h1 class="title">BURGER TIME</h1>
    <div class="container">
        <div id="formDiv">
            <form class="burger-form">
                <label for="newB">Create a New Burger!</label>
                <input type="text" name="new-burger" id="newB">
                <button type="submit" id="submitBurg">Add Burger</button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds" id="unDevoured">
                {{#each burgers}}
                {{#unless devoured}}
                <div>
                    <h3>Burger: {{this.burger_name}}</h3>
                </div>
                <button class="devour" data-id="{{this.id}}">
                    DEVOUR
                </button>
                {{/unless}}
                {{/each}}
            </div>
            <div class="column is-one-third" id="devoured">
                {{#each burgers}}
                {{#if devoured}}
                <div>
                    <p>You Devoured: {{this.burger_name}}</p>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</section>